/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 8, 2020, 11:57:51 AM
    Author     : sempl
*/

$colorvs1: #021B21;
$colorvs2: #032C36;
$colorvs3: #065F73;
$colorvs4: #E8DFD6;
$colorvs5: #FF2A1D;

$theme-colors-custom:(colorvs3: $colorvs3);